 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .container {
     display: flex;
     flex-direction: row;
     height: 100vh;
     background-image: linear-gradient(to right, black, red);
     position: relative;
     z-index: 0;
 }

 .main {
     background-image: url(../images/fundo-main.png);
     background-size: cover;
     width: 90%;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     position: relative;
     z-index: -1;
 }

 .selecionar {
     width: 10%;
     height: 100vh;
     display: flex;
     flex-direction: column;
     gap: 70px;
     position: relative;
     z-index: 5;
 }