 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .container {
     display: flex;
     flex-direction: row;
     height: 100vh;
 }

 .overlay {
    position: absolute;
    inset: 0;
    z-index: 10;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.829), rgba(255, 0, 0, 0));
    pointer-events: none;
 }

 .main {
     background-image: url(../images/fundo-main.png);
     background-size: cover;
     width: 90%;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
 }

 .selecionar {
     width: 10%;
     height: 100vh;
     display: flex;
     flex-direction: column;
     gap: 70px;
 }

 button {
    border-radius: 10px;
    border: none;
 }

 button:hover{
    cursor: pointer;
    border:solid 1px red;
 }